@using Salek.EShop.Web.Areas.Admin.Controllers
@model CarouselItem
@{
    ViewData["Title"] = "Carousel Edit";
}
<h1>@ViewData["Title"]</h1>

<p>This page edits a Carousel Item for admin.</p>

@{
    ViewBag.Action = nameof(CarouselController.Edit);
}

<partial name="CreateEditForm" model="Model" />

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/validation/FileContentTypeValidation.js"></script>
}