@using Salek.EShop.Web.Areas.Admin.Controllers
@model ProductItem
@{
    ViewData["Title"] = "Product Create";
}
<h1>@ViewData["Title"]</h1>

<p>This page creates a Product Item for admin.</p>

@{
    ViewBag.Action = nameof(ProductController.Create);
}

<partial name="CreateEditForm" model="Model" />